<!DOCTYPE html>
<html lang="en">
<head>
  <title>Broletariat: New Topic</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <h1>New Topic</h1>

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/broletariat">Broletariat</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/broletariat">Home</a></li>
        <li><a href="/broletariat/users/new">Become a user</a></li>
        <li><a href="/broletariat/topics/new">Make a new topic</a></li>
      </ul>
    </div>
  </div>
  
  <div class="nav"></div>
  <form action="/broletariat/topics/new_post" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="topic_text" placeholder="Type away">
    <button>Submit!</button>
  </form>
</body>
</html>