.row-topic {
  background: #F5F5F5;
  margin: 1em;
}




.vote-image {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.natty {
  display: inline-block;
}

.natty-votes {
  text-align: center;
  color: green;
}

.broseph {
  display: inline-block;
}

.broseph-votes {
  text-align: center;
  color: red;
}

.trump {
  display: inline-block;
}

.trump-votes {
  text-align: center;
  color: magenta;
}
.topic {
  font-size: 18px;
}

