.row-topic {
  background: #F5F5F5;
  margin: 1em 4em 1em 4em;
}

.comment-number {
  display: inline-block;
  vertical-align: middle;
}

.vote-image {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.natty {
  display: inline-block;
}

.natty-votes {
  text-align: center;
  color: green;
}

.natty-hover-text {
  display: none;
  font-size: 10px;
}

.natty:hover .natty-hover-text {
  display: block;
}

.broseph {
  display: inline-block;
}

.broseph-votes {
  text-align: center;
  color: red;
}

.trump {
  display: inline-block;
}

.trump-votes {
  text-align: center;
  color: magenta;
}
.topic {
  font-size: 18px;
}

